.ball {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 'bold';
}
#screen {
    width: 500px;
    height: 300px;
    text-align: center;
    user-select: none;
}
#screen.waiting {
    background-color: aqua;
}
#screen.ready {
    background-color: red;
    color: white;
}
#screen.now {
    background-color: green;
    color: white;
}
#computer {
    width: 142px;
    height: 200px;
    background-position: 0 0;
}